.main {
	position: relative;
	min-height: 100vh;
}

.articleContainer {
	--font-family: 'Open Sans';
	--font-size: 18px;
	--font-color: #000000;
	--container-width: 948px;
	--bg-color: #ffffff;
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 20px;
	color: var(--font-color);
	font-size: var(--font-size);
	font-family: var(--font-family);
	background-color: var(--bg-color);
}
