.container {
	position: fixed;
	left: 0;
	width: 614px;
	height: 100%;
	overflow: scroll;
	transform: translate(-614px);
	transition: transform 0.5s ease;
}

.container_open {
	transform: translate(0);
}

.form {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	gap: 50px;
	box-sizing: border-box;
	width: 598px;
	height: auto;
	min-height: 100%;
	padding: 50px 30px;
	background-color: #ffffff;
	border-right: 1px solid #000000;
}

.title {
	flex: none;
	flex-grow: 0;
	order: 0;
	color: #000000;
	font-weight: 800;
	font-size: 31px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	text-transform: uppercase;
}

.bottomContainer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}
